@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik+Dirt&family=Rubik+Distressed&display=swap');


body {
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Rubik Dirt', cursive !important;
    font-family: 'Rubik Distressed', cursive !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
