.header {
    background-color: mediumturquoise !important;
}

.navbar-brand {
    color: brown !important;
    font-size: 50px !important;
    font-weight: bold !important;
    padding-left: 25px;
}

.nav-link {
    color: black !important;
    font-size: 25px !important;
}

#left-side {
    padding-right: 25px;
}

.navbar-toggler {
    border: none !important;
}

.contact-box {
    height: 250px;
    background-color: rgb(255,192,203);
    font-size: 50px;
}

.contact-form {
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px gray;
    margin-bottom: 50px;
    margin-top: -100px;
    background-color: white;
    border: 1px solid gray;
}

input,
textarea {
    height: 50px;
    margin: 10px !important;
    width: 50%;
    border: 2px solid gray;
}

textarea {
    height: 100px;
}

input[type="submit"]{
    background-color: grey;
    color: white;
    width: 100%;
}

.submit-item{
    justify-content: end !important;
    align-items: flex-end !important;
}

.footer {
    background-color: rgb(72,209,204);
    background-color: grey;
    padding: 100px;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 25px;
}

.divider {
    height: 2px;
    border: 1px solid white !important;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 15px;
}