.project {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px black !important;
    border-radius: 80%;
    position: relative;
    /* margin-bottom: 50px; */

}

.project img {
    height: 250px;
    width: 100%;
}

.project .overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    height: 0;
    bottom: 0;
    padding: 200px;
    padding-top: 250px;
    opacity: 0;
    border-radius: 70%;
}

.project .overlay:hover {
    opacity: 0.65;
    background-color: black;
    color: white;
    border-radius: 0%;
    transition: all 0.3s;
    right: 0;
    left: 0;
}